@font-face {
	font-family: Gotham-Black;
	src: url('../fonts/Gotham-Black.woff');
}
@font-face {
	font-family: Gotham-Bold;
	src: url('../fonts/Gotham-Bold.woff');
}
@font-face {
	font-family: Gotham-Book;
	src: url('../fonts/Gotham-Book.woff');
}
@font-face {
	font-family: Gotham-Medium;
	src: url('../fonts/Gotham-Medium.woff');
}
@font-face {
	font-family: Gotham-MediumItalic;
	src: url('../fonts/Gotham-MediumItalic.woff');
}

.app {
	padding-top: 150px;
}

body {
	background-image: url('../images/INCBackgound.jpg');
	background-size: 100% 300%;
	// top: 100px;
	// overflow: hidden;
}

html {
	padding-top: 100px;
}

#INCLogoDiv {
	width: 75px;
	height: 75px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

// #bg-image {
//   width: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -10;
// }

@import '../../node_modules/platypusui/dist/platypus';

@import '../src/templatecontrols/navbar/navbar.tc.less';

@import '../src/viewcontrols/about/about.vc.less';
@import '../src/viewcontrols/connect/connect.vc.less';
@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/hometwo/hometwo.vc.less';
@import '../src/viewcontrols/learnmore/learnmore.vc.less';
@import '../src/viewcontrols/portfolio/portfolio.vc.less';
@import '../src/viewcontrols/resources/resources.vc.less';
