[plat-control="about-vc"] {
		.thickwhite{
			color: white;
			border-bottom: solid 4px white;
			font-size: 30px;
			font-family: Gotham-Black;
			font-weight: 100;
		}
		.thinwhite {
			color: white;
			font-family: Gotham-Book;
			font-weight: 100;
		}
		#whitebar {
			width: 40px;
			height: 40px;
			float:right;
		}
		.testimonialswhite {
			color: white;
			font-size: 24px;
			line-height: 32px;
			margin-top: -7px;
			padding-left: 14px;
			width: 67%;

		}
		.josh {
			float:right;
			padding-right: 60px;
			padding-bottom: 20px;
			width: 400px;
		}
		.josh2 {
			float:left;
			//padding-left: 22%;
			padding-right: 55px;
			padding-bottom: 20px;
			width: 400px;
			
		}
		.testimonialswhitefloat {
			color: white;
			font-size: 24px;
			line-height: 32px;
			padding-left: 19%;
			width: 65%;

		}

		.whiteout {
			background-color: white;
	
		}
		.thickgrey {
			color: #758b97;
			font-family: Gotham-Black;
			font-weight: 100;
			font-size: 30px;
			border-bottom: solid 4px #758b97;

		}
		.thingrey {
			color: #758b97;
			font-family: Gotham-Book;
			font-weight: 100;
		}
		#graybar {
			width: 40px;
			height: 40px;
			float:right;	
		}
		.testimonials {
			color: #758b97;
			font-size: 24px;
			line-height: 32px;
			margin-top: -7px;
			padding-left: 14px;
			width: 67%;
		}
			.center {
				color: white;
				background-color: #7e8a7d;
		}


}
