[plat-control="about-vc"] {
	color: white;
	.mastercontainer {
		font-family: Gotham-Book;
		font-weight: 100;
	}
		.head-text {
			text-align: center;
			font-size: 3em;
		}
		.head-text:hover{
			font-family: Gotham-Bold;
			text-decoration: underline;
			cursor: pointer;
			cursor: hand;
			.circle-bar {
				background-color: rgba(255,255,255,0.5);
				border-radius: 50%;
			}
		}
		.activeteam {
			font-family: Gotham-Bold;
			text-decoration: underline;
			.circle-bar {
				background-color: rgba(255,255,255,0.5);
				border-radius: 50%;
			}	
		}	
		.circle-bar {
			width: 60px;
			height: 60px;
			vertical-align: -20%;
		}
		.box {
			clear: both;
		}
		.thick-white{
			border-bottom: solid 4px white;
			font-size: 1.875em;
			font-family: Gotham-Black;
			margin-left: 3%;		
		}
		.thin-white {
			font-family: Gotham-Book;
		}
		.white-bar {
			width: 40px;
			height: 40px;
			float:right;
		}
		.testimonials-white {
			font-size: 1.5em;
			line-height: 1.5em;
			padding-left: 19%;
			width: 65%;
		}
		.josh2 {
			float:left;
			padding-right: 5%;
			padding-bottom: 23px;
			width: 20em;	
		}
		.testimonials-white-float {
			width: 65%;
			clear:both;
		}
		.white-out {
			background-color: white;
		}
		.gray {
			color: #758b97;
		}
		.thick-gray {
			font-family: Gotham-Black;
			font-size: 30px;
			border-bottom: solid 4px #758b97;
			margin-left: 3%;
		}
		.thin-gray {
			font-family: Gotham-Book;
		}
		.gray-bar {
			width: 40px;
			height: 40px;
			float:right;	
		}
		.testimonials {
			color: #758b97;
			font-size: 1.5em;
			line-height: 1.5em;
			padding-left: 19%;
			width: 65%;
		}
			.center {
				background-color: #7e8a7d;
		}
		.center-white {
			font-family: Gotham-Bold;
			font-size: 36px;
			margin: 0 auto;
			margin-left: 3%; 
		}
		.intro {
			font-family: Gotham-Medium;
			margin-left: 17%;
			margin-right: 17%;
			font-size: 40px;
			p {
				margin-left: 3%;
			}
		}
		.para {
			color:#5a604b;
			font-weight: 500;
			.boldtext {
				font-family: Gotham-Bold;
			}
		}
		.book-float {
			width: 50px;
			height: 50px;
			float: right;
			margin-top: 15%;
			margin-right: 5%;
		}
		.greenout {
			background-color: #7e8a7d;
			h3 {
				font-family: Gotham-MediumItalic;
				margin: 1px auto;
				line-height: 25px;
			}
			h4 {
				margin: 0 auto;
			}
			p {
				color:white;
				font-family: Gotham-Book;
				font-weight: 500;
			}
			h2{
				margin: 0 auto;
				font-family: Gotham-Bold;
				font-size: 50px;
			}
			.center-book {
				width: 100px;
				height: 100px;
				display:block;
				margin-left: auto;
				margin-right: auto;
				margin-top: 2%;
			}
			.btn {
				text-align: center;
				padding-bottom: 25px;
			}
			.border {
				max-width: 67%;
				margin-left: 16.5%;
			}		
		}
	@keyframes zRotate2 {
		0%   {transform: rotateZ(0deg);}
		25%   {transform: rotateZ(-25deg);}
		50%   {transform: rotateZ(0deg);}
		75%   {transform: rotateZ(25deg);}		
		100%   {transform: rotateZ(0deg);}
	 }
	@keyframes zenlarge {
		0%   {transform:  scale3d(1,1,1);}
		10%   {transform:  scale3d(1.1,1.1,1.1);}
		100%   {transform:  scale3d(1,1,1);}
	}
	.container:hover{	
		.book-float, .center-book {
			animation-name: zRotate2;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		.btn {
			animation-name: zenlarge;
			animation-duration: 1s;
			animation-timing-function: linear;			
			animation-iteration-count: infinite;
		}
	}
@media only screen and (max-width: 900px) {
	.mastercontainer {
		.gray-bar {
			display: none;
		}
		.white-bar {
			display: none;
		}
		.slash {
			display: none;
		}
		.josh2 {
			float:none;
			padding-bottom: 20px;
			width: 10em;
		}
		.testimonials {
			font-size: 1em;
		}
		.testimonials-white {
			font-size: 1em;
		}
	}
}
	 .worksContainer {
		 //color:white;
		 font-family: Gotham-Medium;
		 padding-left: 10%;
		 .worksdetails {
			 padding-right: 100px;
			 .line {
				border-bottom: 3px solid white;
				max-width: 80%;
		 	}
			.minus-border {
				border-bottom: 3px solid white;
				border-top: 3px solid white;
			}
			p {
				padding-right: 25px;
				padding-left: 25px;
			}
		 }
		#minus {
			margin-left: 45%;
			width: 60px;
		}
		h2 {
			border-bottom: 3px solid white;
			width: 89%;
			margin-left: 2%;
		}
		#gendia {
			width: 70%;
			margin-top: -10%;
		}
		#noborder h2 {
			border-bottom: none;
		}	
	 }
	.workimage {
		width:175px;	
		margin-left: 5%;
		#taxfreeimage{
			width:175px;				
		}
		#bookimage {
			width:140px;
		}				
	 }
	 .plus {
		width: 40px;
		float: left;
		padding-top: 10%;
		padding-left: 40%;
	 }
	 .plus-2 {
		padding-top: 25%;
		padding-left: 40%;
	 }
	 .plus-3 {
		padding-top: 60%;
		padding-left: 40%;
	 }
	 .plus-4 {
		padding-top: 50%;
		padding-left: 40%;
	 }
	@keyframes zRotate2 {
		0%   {transform: rotateZ(0deg);}
		25%   {transform: rotateZ(-25deg);}
		50%   {transform: rotateZ(0deg);}
		75%   {transform: rotateZ(25deg);}		
		100%   {transform: rotateZ(0deg);}
	 }	
	.workimage:hover{
			animation-name: zRotate2;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
	}	 
}
