[plat-control="portfolio-vc"] {
	color:white;


	.bold {
		font-family: Gotham-Bold;
		text-align: center;
		font-size: 55px;
		text-decoration: underline;
	}
	.friends {
		font-family: Gotham-Book;
		text-align: center;
		font-size: 55px;
		font-weight: 100;
		padding-right: 60px;
	}
	#imageone {
		width: 12%;
		height: 12%;
		vertical-align: -20%;
	}
	#imagetwo {
		width: 13%;
		height: 13%;
		vertical-align: -20%;
	}
	.mastercontainer {
		.whiteout {
		background-color: white;
		border-bottom: solid 4px #758b97;	
		}
		.box {
			width: 100%;
			//margin-left: 300px;
			float:left;
			
		}
		.thickgrey {
			color: #758b97;
			font-family: Gotham-Black;
			font-weight: 100;
			font-size: 30px;
			border-bottom: solid 4px #758b97;

		}
		.thingrey {
			color: #758b97;
			font-family: Gotham-Book;
			font-weight: 100;
		}
		.gwyn {
			float:right;
			padding-right: 60px;
			padding-bottom: 20px;
			width: 400px;
		}
		.testimonials {
			color: #758b97;
			font-size: 24px;
			line-height: 32px;
			margin-top: -7px;
			padding-left: 14px;
		}
		#graybar {
			width: 40px;
			height: 40px;
			float:right;
	
		}
		.imageback {
 	    background: -webkit-linear-gradient(left bottom, #7896a8 , #c5c8c4); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, #7896a8 , #c5c8c4); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, #7896a8 , #c5c8c4); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top right, #7896a8 , #c5c8c4); /* Standard syntax */
	   }
		#whitebar {
			width: 40px;
			height: 40px;
			float:right;

		}
		.thickwhite{
			color: white;
			border-bottom: solid 4px white;
			font-size: 30px;
			font-family: Gotham-Black;
			font-weight: 100;
		}
		.thinwhite {
			color: white;
			font-family: Gotham-Book;
			font-weight: 100;
		}
		.testimonialswhite {
			color: white;
			font-size: 24px;
			line-height: 32px;
			margin-top: -7px;
			padding-left: 14px;
		}
		.Roman {
			float:right;
			padding-right: 60px;
			width: 400px;
			padding-bottom: 20px;
		}
		.block {
			background-color: white;
		}
		.block2 {
			background-color: white;
			border-bottom: solid 4px #758b97;
			
		}
	}
}

