[plat-control="portfolio-vc"] {
	color:white;
	background-image: url('../images/INCBackgound.jpg');
	background-size: 2000px 4000px;
	
	.bold {
		font-family: Gotham-Bold;
		text-align: center;
		font-size: 70px;
	}
	.friends {
		font-family: Gotham-Book;
		text-align: center;
		font-size: 70px;
		font-weight: 100;
		padding-right: 60px;
	}
	#imageone {
		width: 12%;
		height: 12%;
		vertical-align: -20%;
	}
	#imagetwo {
		width: 13%;
		height: 13%;
		vertical-align: -20%;
	}
	.mastercontainer {
		.whiteout {
		background-color: white;
		
		}
		.box {
			width: 58%;
			margin-left: 350px;
		}
		.thickgrey {
			color: #758b97;
			font-family: Gotham-Bold;
			font-size: 45px;
			border-bottom: solid 4px #758b97;

		}
		.thingrey {
			color: #758b97;
			font-family: Gotham-Book;
			font-weight: 100px;
		}
		.testimonials {
			color: #758b97;
		}
		.gwyn {
			float:right;
			padding-right: 60px;
		}
		.testimonials {
			font-size: 28px;
			line-height: 32px;
			margin-top: -7px;
			padding-left: 14px;
		}
		#graybar {
			width: 5%;
			height: 5%;
		}
		.thickwhite{
			color: white;
			border-bottom: solid 4px white;
		}
		.thinwhite {
			color: white;
		}
		.testimonialswhite {
			color: white;
			font-size: 28px;
			line-height: 32px;
			margin-top: -7px;
			padding-left: 14px;
		}
	}
}

