[plat-control="portfolio-vc"] {
	.mastercontainer {
		color: white;
		font-weight: 100;
		font-family: Gotham-Book;
		.circle-bar {
			width: 60px;
			height: 60px;
			vertical-align: -20%;
		}
		.head-text {
			font-size: 3em;
			text-align: center;
		}
		.head-text:hover{
			font-family: Gotham-Bold;
			text-decoration: underline;
			cursor: pointer;
			cursor: hand;
			.circle-bar {
				background-color: rgba(255,255,255,0.5);
				border-radius: 50%;
			}
		}
		p {
			font-size: 1.5em;
			line-height: 1.5em;
			width: 65%;	
			margin-top: 0;	
		}
		.whiteout {
		background-color: white;
		border-bottom: solid 0.25em #758b97;
		color: #758b97;
			.thick-gray {
				font-family: Gotham-Black;
				font-size: 1.875em;
				border-bottom: solid 4px #758b97;
			}
			.thin-gray {
				font-family: Gotham-Book;
			}
		}
		.box {
			width: 100%;
			float:left;		
		}		
		.pics {
			float:right;
			padding-right: 5%;
			padding-bottom: 20px;
			width: 30em;
		}
		.gray-bar {
			width: 40px;
			height: 40px;
			float:right;
		}
		.image-back {
 	    background: -webkit-linear-gradient(left bottom, #455D6E , #8A979C); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom right, #455D6E , #8A979C); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom right, #455D6E , #8A979C); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to top right, #455D6E , #8A979C); /* Standard syntax */
	   }
		.white-bar {
			width: 40px;
			height: 40px;
			float:right;
		}
		.thick-white{
			color: white;
			border-bottom: solid 4px white;
			font-size: 30px;
			font-family: Gotham-Black;
			font-weight: 100;
		}
		.thin-white {
			color: white;
			font-family: Gotham-Book;
			font-weight: 100;
		}
		.testimonials-white {
			color: white;
		}
		.block {
			background-color: white;
		}
		.block2 {
			background-color: white;
			border-bottom: solid 4px #758b97;			
		}
	}	
@media only screen and (max-width: 900px) {
		.mastercontainer {
			.pics {
				float: none;
				padding-left: 8%;
				padding-right:20%;
				padding-bottom: 20px;
				width: 20em;
			}
			p {
				margin: 0 auto;
			}
			.gray-bar{
				display: none;
			}
			.white-bar {
				display: none;
			}
			.slash {
				display: none;				
			}
			p {
				font-size: 1em;
			}
			.testimonials-white {
				font-size: 1em;
			}
		}
	}	
}