[plat-control="navbar"] {
	.navbar {
		padding-bottom: 0px;
		position: absolute;
		// position: fixed;
		// background-image: url('../images/INCBackground.jpg');
		// background-size: 100% 3000%;
		text-align: center;
		top: 0px;
		width: 100%;
		height: 70px;
		display: block;
		.logo{
			height: 75px;
			width: 75px;
			margin: auto;
			padding-top: 5%;
			padding-bottom: 1em;
		}
		.navbar-icon{
			float: left;
			color: #e3ebee;
			padding-left: 5%;
			padding-top: 5%;
		}
		.container{
			position: relative;
			width: 80%;
			height: 80px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			.navlink {
				margin-top: 15px;
				color: #e3ebee;
				font-family: Gotham-Medium;
				font-size: 15px;
				font-weight: 900;
			}
			.navlink:hover {
				border-bottom: 2px solid white;
			}
			.item {
				-webkit-transform: translateY(50px);
				transform: translateY(50px);
			}
		}
	}
	
	#hamburger {
		position: absolute;
		left: 0;
		top: 0;
		color: white;
		// display: none;
	}

	#INCLogo {
		width: 85px;
		height: 85px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

@media only screen and (max-width: 500px) {
	#hamburger {
		position: absolute;
		left: 0;
		top: 0;
		color: white;
	}
	#linksRow {
		display: none;
	}
}