[plat-control="learnmore-vc"] {
	
	// .input-group-container {
	// 	margin-top: 30%;
	// }
	
 	#nameInput {
		width: 100%;
	}

	#emailInput {
		width: 100%;
	}
	
	.inputItem {
		font-family: 'Gotham-Medium';
		font-size: 15px;
		height: 40px;
		border: 0px;
		margin-top: 40px;
		background-color: white;
		color: #2f4f4f;		
	}
	
	#submit-button {
		padding-bottom: 40px;
	}

	#learn-more-text {
		padding-top: 60px;
		text-align: center;
	}
	
	.hrline {
		color: #2f4f4f;
	}

	#message-us-text {
		padding-top: 40px;
		padding-bottom: 60px;
		text-align: center;
	}
	
	.text-container {
		text-align: center;
		background-color: #ffffff;
		color: #2f4f4f;
	}
	
	#learn-more {
		font-family: 'Gotham-Medium';
		font-size: 45px;
	}
	
	#message-us {
		font-family: 'Gotham-Medium';
		font-size: 25px;
	}
}
