[plat-control="footer"] {
	
	h4 {
		font-family: Gotham-Medium;
		font-size: 14px;
		position: relative;
		left: 24px;
		color: white;
	}
	
	.whiteBlock {
		padding: 20px;
		padding-top: 30px;
		background-color: rgba(211,211,211,0.7);
	}
	
	.detail {
		opacity: 1.0;
	}
	
	.whiteBlock h4 {
		opacity: 1.0;
		color: white;
		// z-index: 10;
		// float: right;
		margin-left: 5px;
		// padding: 20px;
	}
	
	#mail {
		float: left;
	}
	
	#phone {
		float: left;
	}
	
	#house {
		float: left;
	}
	
	.emptyDivTop {
		height: 35px;
	}
	
	.emptyDiv {
		height: 25px;
	}
	
	#plat {
		float: left;
		position: relative;
		left: 170px;
	}
	
	.bottomTag p {
		font-family: Gotham-Medium;
		font-size: 12px;
		color: white;
		text-align: center;
		white-space: nowrap;
	}
	
	.bt {
		height: 80px;
	}
	
	// .whiteBlock {
	// 	border-bottom: white solid 2px;
	// 	border-top: white solid 2px;
	// }
	
	
}
