[plat-control="home-vc"] {

h1 {
	color: white;
}

.col {
	color: white;
	padding: 40px;
	text-align: center;
	font-size: 44px;
	font-family: Gotham-Black;
}

.box {
	border-top: solid white;
	border-bottom: solid white;
	height: 15px;
	width: 90%;
	text-align: center;
	margin: auto;
}
 .guarantee {
	font-family: Gotham-Bold;
	font-size: 24px;
	text-align: center;
	color: white;
	line-height: 0px;
 }
 
 #boxheight {
	color: white;
	// padding: 20px;
	text-align: center;
	font-size: 34px;
	font-family: Gotham-Bold;
	display: flex;
	// height: 350px;
	align-items: center;
	// justify-content: center;
	// height: 200px;
	// line-height: 100px;
}

.blurb {
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: Gotham-Book;
}

.btn {
	text-align: center;
}

.nytBlurb {
	text-align: center;
}

.lookingList {
	text-align: center;
}

.flexBoxParent {
	display: flex;
}

.flexBoxChild {
	flex: 1;
}

// #4 {
// 	display: flex;
// 	height: 350px;
// 	align-items: center;
// 	justify-content: center;
// }

// #5 {
// display: flex;
// 	height: 350px;
// 	align-items: center;
// 	justify-content: center;align-items: center;
// }

// #6 {
// 	display: flex;
// 	height: 350px;
// 	align-items: center;
// 	justify-content: center;
// }

// #boxheight {
// 	height: 200px;
// }

.col3 {
	color: white;
	padding: 40px;
	text-align: center;
	font-size: 18px;
	font-family: Gotham-Black;
}


}
