[plat-control="home-vc"] {

h1 {
	color: white;
}

p {
	font-family: Gotham-Black;
	font-size: 44px;
	color: white;
}
.col {
	color: white;
	padding: 40px;
	text-align: center;
	font-size: 44px;
	font-family: Gotham-Black;
}

.box {
	border-top: solid white;
	border-bottom: solid white;
	height: 15px;
	width: 90%;
	text-align: center;
	margin: auto;
}
 .guarantee {
	font-family: Gotham-Bold;
	font-size: 24px;
	text-align: center;
	color: white;
	line-height: 0px;
 }
 
 #boxheight {
	color: white;
	padding: 40px;
	text-align: center;
	font-size: 34px;
	font-family: Gotham-Bold;
	display: flex;
	align-items: center;
	justify-content: center;
	// height: 200px;
	// line-height: 100px;
}

.blurb {
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: Gotham-Book;
}

// #4 {
// 	vertical-align: -30px;
// }

// #5 {
// 	vertical-align: 50px;
// }

// #6 {
// 	vertical-align: 200px;
// }

// #boxheight {
// 	height: 200px;
// }


}
