[plat-control="home-vc"] {

h1 {
	color: white;
}

.col {
	color: white;
	padding: 40px;
	text-align: center;
	font-size: 44px;
	font-family: Gotham-Black;
	padding-left: 110px;
	padding-right: 110px;
}

// .col .detail {
// 	padding-left: 28px;
// 	padding-right: 28px;
// }

.hideMe {
	// font-family: Gotham-Bold;
	font-size: 24px;
	text-align: center;
	color: white;
	padding-left: 110px;
	padding-right: 110px;
	text-align: left;
	// line-height: 0px;
}

.hideMe .detailsRow {
	padding-left: 28px;
	padding-right: 28px;
}

.hideMe .h2 {
	font-family: Gotham-MediumItalic;
	font-size: 10px;
}

.hideMe h4 {
	font-family: "Gotham-MediumItalic";
	font-size: 34px;
}

.hideMe p {
	font-family: Gotham-Book;
	font-size: 16px;
}

.hideMe li {
	font-family: Gotham-Book;
	font-size: 16px;
}

.box {
	border-top: solid white 3px;
	border-bottom: solid white 3px;
	height: 15px;
	width: 90%;
	text-align: center;
	margin: auto;
}

 .guarantee {
	font-family: Gotham-Bold;
	font-size: 24px;
	text-align: center;
	color: white;
	line-height: 0px;
 }
 
 #boxheight {
	color: white;
	// padding: 20px;
	text-align: center;
	font-size: 34px;
	font-family: Gotham-Bold;
	display: flex;
	// height: 350px;
	align-items: center;
	// justify-content: center;
	// height: 200px;
	// line-height: 100px;
}

.bar {
	border-bottom: white solid 3px;
	width: 80%;
	text-align: center;
	margin: auto;
	// padding-bottom: 20px;
}


.blurb {
	font-size: 20px;
	color: white;
	text-align: center;
	font-family: Gotham-Book;
	padding: 40px;
}

.btn {
	text-align: center;
	// width: 80px;
	padding: 20px;
}

.nytBlurb {
	text-align: center;
	font-family: Gotham-Bold;
	color: white;
}

.lookingList {
	padding: 10px;
	font-family: Gotham-Bold;
	color: white;
}

.lookingList li {
	font-family: Gotham-Bold;
	font-size: 20px;
}

#boxHeight {
	position: center;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// border-bottom: 2px solid white;
	// width: 200px;
	// margin-left: 90px;
	// margin-right: 90px;
}

.flexBoxParent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	// padding-left: 110px;
	// padding-right: 110px;
	// display: block;
	// flex: 1;
	// align-items: center;
}

.flexBoxChild {
	display: block;
	margin: auto;
	//margin: 0 auto 0 auto;
}

.thumbnail {
	width: 200px;
	height: 200px;
}

.midThree {
	color: white;
	font-size: 30px;
	// max-width: 40px;
	text-align: center;
}

.btn {
	padding-bottom: 50px;
}

.text1 {
	font-size: 35px;
	// width: 250px;
	line-height: 90%;
	
}

.text2 {
	font-size: 18px;
	line-height: 30%;
	// width: 250px;
}

.text3 {
	font-size: 90px;
	line-height: 70%;
	// width: 250px;
}

.text4 {
	font-size: 50px;
	line-height: 60%;
}

.emptyDiv {
	height: 15px;
}

.emptyDiv2 {
	height: 15px;
}

.col3 {
	color: white;
	padding: 40px;
	text-align: center;
	font-size: 18px;
	font-family: Gotham-Black;
	padding-left: 110px;
	padding-right: 110px;
	// border-left: solid white 3px;
}

.blurbStrong {
	font-family: Gotham-Medium;
}

// .col4 {
	// border-left: solid white 3px; 
	// border-right: solid white 3px;
	// padding-left: 60px;
	// padding-right: 60px;
// }

.col5 {
	padding-left: 110px;
	padding-right: 110px;
}

.marge {
	margin: 35px;
	border-left: solid white 3px; 
	border-right: solid white 3px;
}

// #4 {
// 	display: flex;
// 	height: 350px;
// 	align-items: center;
// 	justify-content: center;
// }

// #5 {
// display: flex;
// 	height: 350px;
// 	align-items: center;
// 	justify-content: center;align-items: center;
// }

// #6 {
// 	display: flex;
// 	height: 350px;
// 	align-items: center;
// 	justify-content: center;
// }

// #boxheight {
// 	height: 200px;
// }

}
